{
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": ["warn", "never"],
    "no-unreachable": "warn",
    "no-undef": "error",
    "valid-typeof": "error",
    "eqeqeq": "warn",
    "camelcase": [
      "warn",
      {
        "ignoreDestructuring": true
      }
    ],
    // "indent": ["warn", 2],
    "no-nested-ternary": "off",
    "no-const-assign": "error",
    "no-dupe-class-members": "warn",
    "no-duplicate-imports": "warn",
    "no-var": "warn",
    "prefer-arrow-callback": "warn",
    "prefer-template": "warn",
    "no-console": "off",
    "no-param-reassign": "warn",
    "default-param-last": "error",
    "no-unused-vars": "warn"
    // "no-async-promise-executor": "off"
  }
}
